.example-icon {
  padding: 0 14px;
}
/*.example-spacer {*/
/*  flex: 1 1 auto;*/
/*}*/
.container{

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.logo{
  font-size: 20px;
  font-weight: bold;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
}

